.anglebutton {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

#ducklist {
    margin: auto;
    width: 80%;
    margin-top: 20px;
}

.listitem {
    width: 80%;
}

.grabbable {
    cursor: pointer;
}

#addsighting {
    font-family: 'Encode Sans Expanded', sans-serif;
}

#addsightingimage {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 10px;
}