

.form {
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

#selectspecies {
    width: 200px;
    margin: auto;
}

#number {
    width: 100px;
    margin: auto;
}

#description {
    width: 250px;
    margin: auto;
}

.errors {
    color: red;
    margin-top: 10px;
}

.error {
    padding: 0px;
    margin: 0px;
}